@page
@model LabExamPart2_sec2.Pages.WelcomeModel
@{
    <p>Welcome, @Model.name</p>

    <div class="col-7">
    <table class="table">
    <thead>
    <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Section Id</th>
    <th>Instructor</th>
    <th>Grade Letter</th>
    </tr>
    </thead>
    <tbody>
            @foreach(var c in Model.courses)
            {
                <tr>
                    <td>@c.id</td>
                    <td>@c.name</td>
                    <td>@c.secId</td>
                    <td>@c.instructor</td>
                    <td>@c.grade</td>
                </tr>
                
            }

    </tbody>
    </table>
    </div>

    <!--Optional for ease of use-->
    <a class="btn btn-primary" asp-page="Index">Back</a>
}
